<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - CafeApp</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body class="bg-light d-flex align-items-center justify-content-center" style="height: 100vh;">

<div class="card shadow-lg p-4" style="width: 400px; border-radius: 15px;">
    <div class="text-center mb-4">
        <h2 class="fw-bold text-dark">☕ CafeApp</h2>
        <p class="text-muted">Gestiune Sistem Cafenea</p>
    </div>

    <div th:if="${param.error}" class="alert alert-danger py-2 text-center" role="alert">
        Utilizator sau parolă incorectă!
    </div>
    <div th:if="${param.logout}" class="alert alert-success py-2 text-center" role="alert">
        Te-ai deconectat cu succes.
    </div>

    <form action="/login" method="post">
        <div class="mb-3">
            <label class="form-label fw-semibold">Utilizator</label>
            <input type="text" name="username" class="form-control" placeholder="ex: ospatar sau manager" required/>
        </div>

        <div class="mb-4">
            <label class="form-label fw-semibold">Parolă</label>
            <input type="password" name="password" class="form-control" placeholder="••••••••" required/>
        </div>

        <button type="submit" class="btn btn-dark w-100 fw-bold py-2" style="border-radius: 8px;">Conectare</button>
    </form>
</div>

</body>
</html>