<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: iFrame(~{::body})}">
<body>
<div class="container d-flex justify-content-center mt-5">
    <div class="card p-4 border-0 glass-card animate__animated animate__backInUp" style="width: 100%; max-width: 430px;">
        <div class="text-center mb-4">
            <h3 class="fw-bold text-dark">👤 Înregistrare Angajat</h3>
            <p class="text-muted small">Datele se salvează direct în PostgreSQL</p>
        </div>

        <form th:action="@{/register}" method="post">
            <div class="mb-3">
                <label class="form-label fw-semibold text-secondary">Nume Utilizator (Username)</label>
                <input type="text" name="username" class="form-control" placeholder="Alege un username" required />
            </div>
            <div class="mb-3">
                <label class="form-label fw-semibold text-secondary">Parolă</label>
                <input type="password" name="password" class="form-control" placeholder="Minim 6 caractere" required />
            </div>
            <div class="mb-4">
                <label class="form-label fw-semibold text-secondary">Atribuire Rol Profesional</label>
                <select name="rol" class="form-select" required>
                    <option value="ADMIN">Manager (Drept complet de ștergere)</option>
                    <option value="USER">Ospătar (Doar vizualizare & căutare)</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success w-100 fw-bold py-2 btn-animate shadow-sm fs-5">Creează Contul</button>
        </form>
    </div>
</div>
</body>
</html>